@mixin size($size) {
  @if type-of($size) == number {
    width: $size;
    height: $size;
  }

  @if type-of($size) == list {
    width: nth($size, 1);
    height: nth($size, 2);
  }
}

@mixin position($position: null, $coords: null, $z-index: null) {
  $rules: top right bottom left;

  @if $position {
    position: $position;
  }

  @if $z-index {
    z-index: $z-index;
  }

  @for $j from 1 through length($coords) {
    #{nth($rules, $j)}: nth($coords, $j);
  }
}

@mixin media($point, $minmax: min) {
  @if type-of($point) == list {
    @media (min-width: nth($point, 1)) and (max-width: nth($point, 2) - 0.2) {
      @content;
    }
  }

  @if type-of($point) == number {
    @if $minmax == max {
      $point: $point - 0.2;
    }

    @media (#{$minmax}-width: $point) {
      @content;
    }
  }
}
